<ion-header class="my-list-header">
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>MY MEET UPS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="d-grid" color="dark">
  <ng-container>
    <p class="mt-2 ion-padding" *ngIf="(friendListing$ | async)?.length === 0">
      Get started by backing out of this page and tapping on "Find People". This will help you find people to go eat or shop with.
    </p>

    <p class="mt-5 mb-5 ion-padding text-uppercase spotbie-text-gradient text-center"
       *ngIf="(friendListing$ | async)?.length > 0"
    >
     {{ (friendListing$ | async)?.length }} <span style="top: 10px;"><ion-icon name="people" slot="end"></ion-icon>friends</span>
    </p>
  </ng-container>

  <ng-template #meetUpListing>
    <ion-list>
      <ion-item *ngFor="let meetUp of (meetUpListing$ | async).data" color="dark">
        <ion-img [src]="meetUp.business.photo"></ion-img>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
