<ion-header class="my-list-header">
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>MY MEET UPS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="d-grid" color="dark">
  <ng-container *ngIf="(meetUpListing$ | async) else meetUpListing">
    <ion-list>
      <ion-item *ngFor="let meetUp of (meetUpListing$ | async)" color="dark">
        {{ meetUp | json }}
        <ion-label>{{ meetUp.friend_username }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #meetUpListing>
    <p class="mt-2 ion-padding text-center">
      Get started by tapping below and using our meet-up wizard.
    </p>

    <div style="text-align: center;" class="mb-3">
      <ion-button (click)="getStarted()" id="startMyMeetUps">
        <ion-icon name="fast-food" slot="end"></ion-icon>
        start
      </ion-button>
    </div>
  </ng-template>
</ion-content>
