<div class="spotbie-permissions">
  <h2 class="spotbie-el-100 spotbie-margin spotbie-padding spotbie-h2">
    <span> Safety & Privacy </span>
  </h2>

  <div class="spotbie-el-100 spotbie-rel-div spotbie-paragraph">
    Spotbie uses your location to find <i>trusted users</i> around you. You can
    choose your <i>trusted users</i> once you log in. <br /><br />By visiting
    this domain, you agree to our
    <span
      class="spotbie-link spotbie-normal-font-size"
      [routerLink]="['/terms']"
    >
      Terms & Privacy Policy.
    </span>
  </div>

  <img
    class="spotbie-el-100 spotbie-margin spotbie-no-repeat-bg-contain spotbie-img"
    src="../../assets/images/child_missing.jpg"
    alt=""
  />

  <div class="spotbie-rel-div spotbie-link" [routerLink]="['/home']">
    I Understand
  </div>
</div>
