.spotbie-scroll-top{
    position: fixed;
    left: 16px;
    bottom: 20px;
    background: linear-gradient(90deg,#35a99f,#64e56f);
    padding: 5px 14px;
    border-radius: 99%;
    transition: .5s;
    z-index: 89;
}
.spotbie-scroll-top:hover{
    cursor: pointer;
}
.spotbie-scroll-top i{
    font-size: 38px;
    opacity: 0.7;
    color: white;
}
.spotbie-scroll-top:hover i{
    opacity: 1;
}
.sb-your-news{
    position: fixed;
    bottom: 29px;
    left: 33px;
    z-index: 95;
    background-color: #332f3e;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.226);    
}
.sb-your-news.marginLeft{
    left: 85px;
    bottom: 29px;
}
@media (max-width: 460px) { 
    .spotbie-scroll-top{
        padding-top: 5px;
        padding-bottom: 5px;
        bottom: 27px;
        left: 13px;
    }
    .sb-your-news{
        left: 13px;
    }
    .sb-your-news.marginLeft{
        left: 65px;
    }    
    .spotbie-scroll-top i {
        font-size: 32px;
    }
}