.sb-dashboardWrapper{
  display: block;
  text-align: center;
}

ion-img {
  max-width: 80px;
  max-height: 80px;
  min-height: 80px;
  min-width: 80px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
