<ion-header class="my-list-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accept Meet Up Invite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="spotbie-inviteList">
          <h3>Meet Up at {{ businessName$ | async }}</h3>

          <p>Who's going?</p>

          <div class="whosGoingWrapper mt-3 mb-3">
            <ng-container *ngIf="(importContactList$ | async)?.length > 0">
              <div *ngFor="let p of (importContactList$ | async)">
                <ion-label>{{ p?.name | shortenDisplayName }}</ion-label>
                <ion-avatar aria-hidden="true" slot="start">
                  <img [src]="p?.image ?? './../../../assets/images/guest-spotbie-user-01.svg'" />
                </ion-avatar>
              </div>
            </ng-container>

            <ng-container *ngIf="(userProfileList$ | async)?.length > 0">
              <div *ngFor="let p of (userProfileList$ | async); trackBy: identify">
                <ion-label>{{ p?.first_name | shortenDisplayName  }}</ion-label>
                <ion-avatar slot="start">
                  <img [src]="p.default_picture" />
                </ion-avatar>
              </div>
            </ng-container>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="spotbie-meetUp">
          <h3 class="spotbie-text-gradient">
            Meet Up Details
          </h3>

          <p>
            {{ meetUpTime$ | async }}
          </p>

          <p>
            location: <b>{{ (meetUpLocation$ | async)?.name }}</b>
          </p>

          <p>
            <img src="{{ (meetUpLocation$ | async)?.photo }}" />
          </p>

          <p>
            <a  class="spotbie-text-gradient" href="{{ (meetUpLink$ | async) }}">Visit Link</a>
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="spotbie-AcceptInvite">
          <p class="sb-text-light-green-gradient">Do you want to accept {{ (userFullName$ | async) }}'s invitation?</p>

          <ion-button (click)="yes()">
            <ion-icon name="people" slot="end"></ion-icon>
            YES
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
