.spotbie-AcceptInvite,
.spotbie-meetUp,
.spotbie-inviteList{
  position:   relative;
  margin:   0 auto;
  width:    100%;
  min-width: 100%;
  max-width: 100%;
  color: white;
  text-align: center;
}

.spotbie-AcceptInvite {
  color: unset;

  ion-button {
    --background: #53bf61;
    --color: white !important;
  }
}

.whosGoingWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;

  div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
