<router-outlet></router-outlet>

<div class="sb-testMode" *ngIf="testMode" (click)="openTestModeSpecs()">
  <i class="fas fa-exclamation-triangle"></i> <span>TEST MODE</span>
</div>

<div class='spotbie-overlay-window d-flex flex-column align-items-center align-content-center justify-content-center'
     *ngIf="displayTestModeOptions"
>
  <div class='d-flex flex-column align-items-center align-content-center justify-content-center'>
    <i class="fa-exclamation-triangle" id="sb-testModeTitleTriangle"></i>
    <br/>
    <h4 class='spotbie-text-gradient'>TEST MODE</h4>

    <p class='spotbie-text-gradient mt-4'>
      These are mock locations, models, titles, paragraphs, reward rates, loyalty points, etc.
    </p>

    <p class='mt-4'>
          <span class='spotbie-text-gradient'>
              Miami, Perez Art Museum.
          </span>
      <br/>
      <i class='fa fa-map-marker-alt' style="color: white;"></i>
      <br/>
      <span class='spotbie-text-gradient' style="font-size: .8rem;">({{ lat }}, {{ lng }})</span>
    </p>

    <div class='spotbie-button sb-getStarted' (click)="closeTestModeSpecs()">GOT IT</div>
  </div>
</div>

