<div class="">
  <h3 class="mb-5">LET'S MEET UP!</h3>

  <ion-grid>
    <ion-row>
      <ion-col (click)="findPeople()">
        <ion-icon name="people"></ion-icon>
        FIND PEOPLE
      </ion-col>
      <ion-col (click)="myMeetUps()">
        <ion-icon name="calendar"></ion-icon>
        MY MEET UPS
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          <ion-button (click)="startWizard()">
            <ion-icon name="people" slot="end"></ion-icon>
            MEET UP
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
