<div>
  <h3 class="mb-3">
    MEET UP
  </h3>

  <ng-container *ngIf="latestMeetUp$() as latestMeetUp">
    <div class="pt-2 pb-2">
      <p>{{ latestMeetUp.name }}</p>
      <span style="white-space: pre-line">&#64; {{ latestMeetUp.time }}</span>
    </div>
  </ng-container>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center;" class="mb-3">
          <ion-button (click)="startWizard()" id="startMyMeetUps">
            <ion-icon name="fast-food" slot="end"></ion-icon>
            START
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="findPeople()">
          <ion-icon name="people" slot="end"></ion-icon>
          SPOTBIE FRIENDS
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="myMeetUpsModal()">
          <ion-icon name="calendar" slot="end"></ion-icon>
          MY MEET UPS
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
