.spotbie-overlay-window{
    display: flex!important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;    
    background: #332f3e;
    text-align: center;    
    z-index: 97;
}
.spotbie-redeemItem{
    position: relative;
    margin: 0 auto 5px;
    border-radius: 5px;
    max-width: 650px;
    min-width: 650px;
    width: 650px;
    color: white;
    background-color: rgba(0,0,0,.2);
    text-align: left;
}
.card-header{
    font-size: .9rem;
}
.card-body{
    font-size: .7rem;
}
.card-footer{
    font-size: .6rem;
}
.spotbie-no-notis-box{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;    
    top: 50%;
    width: 650px;
    min-width: 650px;
    max-width: 650px;
    transform: translateY(-50%);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;       
}
.fa-exclamation-triangle{
    position: relative;
    color: #ffc107;
    font-size: 1rem;
    bottom: 4px;
    margin-right: 10px;
}
.sb-rewardImage{
    position: relative;
    max-width: 250px;
    width: 250px;
    min-width: 250px;
}
@media (max-width: 650px){
    .spotbie-redeemItem{
        max-width: 94%;
        min-width: 94%;
        width: 94%;
    }    
    .sb-rewardImage{
        position: relative;
        max-width: 85px;
        width: 85px;
        min-width: 85px;
    }    
}
@media (max-width: 460px){
    .spotbie-no-notis-box{
        width: 94%;
        min-width: 94%;
        max-width: 94%;
    }
}