<div class='spotbie-overlay-window' id="redeemWindow">
    <div class="spotbie-redeemListWrapper"
         *ngIf="((rewards$ | async) ||
                 (lpRedeemed$ | async) ||
                 (ledger$ | async) ||
                 (showBalanceList$ | async))">
        <div class="nav">
            <table id="redeemWindowNav">
                <tr>
                    <td class="nav-item" (click)="switchTab('balance-list')" [ngStyle]="getBalanceListStyle()">
                        BALANCES
                    </td>
                    <td class="nav-item" (click)="switchTab('rewards')" [ngStyle]="getRewardsStyle()">
                        REWARDS
                    </td>
                    <td class="nav-item" (click)="switchTab('lpRedeemed')" [ngStyle]="getRedeemedStyle()">
                        REDEEMED
                    </td>
                    <td class="nav-item" (click)="switchTab('ledger')" [ngStyle]="getLedgerStyle()">
                        LEDGER
                    </td>
                    <td (click)="closeWindow()" style="border: none !important; min-width: 50px;">
                        <i class="fa fa-times"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div id="redeemWindowNavMargin"></div>
        <div *ngIf="rewards$ | async">
            <div class="card spotbie-redeemedItem" *ngFor="let redeemedItem of (rewardList$ | async)">
                <div class='card-header'>
                    <span class='sb-text-light-green-gradient'>{{ redeemedItem.business.name }}</span>

                    <img *ngIf="redeemedItem.business.spotbie_user.user_type == 1" [src]="'assets/images/home_imgs/find-places-to-eat.svg'" />
                    <img *ngIf="redeemedItem.business.spotbie_user.user_type === 2" [src]="'assets/images/home_imgs/find-places-for-shopping.svg'" />
                    <img *ngIf="redeemedItem.business.spotbie_user.user_type === 3" [src]="'assets/images/home_imgs/find-events.svg'" />
                </div>

                <div class='card-body text-uppercase'>
                    <div class='mb-2'>
                        <img class="sb-rewardImage" [src]="redeemedItem.reward.images" />
                    </div>

                    <div class='mb-2'>
                        <span class='sb-text-light-green-gradient'>{{ redeemedItem.reward.name }}</span>
                    </div>

                    <div class='mb-2'>
                        {{ redeemedItem.created_at | date:'mediumDate' }}
                    </div>

                    <div class='mb-2'>
                        Loyalty Points:
                        <span *ngIf="redeemedItem.redeemed" class='sb-text-red-gradient'>-{{ redeemedItem.total_spent | number:'1.0':'en-US' }}</span>
                    </div>

                    <div class='mb-2'>
                        Dollar Value:
                        <span class='sb-text-light-green-gradient'>${{ redeemedItem.dollar_value | number:'1.2':'en-US' }}</span>
                    </div>
                </div>

                <div class='card-footer text-uppercase text-center'>
                    award id: {{ redeemedItem.uuid }}
                </div>
            </div>
        </div>

        <div *ngIf="lpRedeemed$ | async">
            <div class="card spotbie-redeemedItem" *ngFor="let redeemedItem of (lpRedeemedList$ | async)">
                <div class='card-header'>
                    <span class='sb-text-light-green-gradient'>{{ redeemedItem.business.name }}</span>
                    <img *ngIf="redeemedItem.business.spotbie_user.user_type === 1" [src]="'assets/images/home_imgs/find-places-to-eat.svg'" />
                    <img *ngIf="redeemedItem.business.spotbie_user.user_type === 2" [src]="'assets/images/home_imgs/find-places-for-shopping.svg'" />
                    <img *ngIf="redeemedItem.business.spotbie_user.user_type === 3" [src]="'assets/images/home_imgs/find-events.svg'" />
                </div>

                <div class='card-body text-uppercase'>
                    <div class='mb-2'>
                        {{ redeemedItem.created_at | date:'mediumDate' }}
                    </div>

                    <div class='mb-2'>
                        Loyalty Points <span class='sb-text-light-green-gradient'>
                          +{{ redeemedItem.amount | number:'1.0':'en-US' }}
                      </span>
                    </div>

                    <div class='mb-2'>
                        Total Spent <span class='sb-text-light-green-gradient'>${{ redeemedItem.total_spent | number:'1.2':'en-US' }}</span>
                    </div>

                    <div class='mb-2'>
                        Dollar Value <span class='sb-text-light-green-gradient'>${{ redeemedItem.dollar_value | number:'1.2':'en-US' }}</span>
                    </div>

                    <div class='mb-2'>
                        Reward Rate <span class='sb-text-light-green-gradient'>{{ redeemedItem.loyalty_point_dollar_percent_value | number:'1.2':'en-US' }}%</span>
                    </div>
                </div>

                <div class='card-footer text-uppercase text-center'>
                    award id: {{ redeemedItem.uuid }}
                </div>
            </div>
        </div>

        <div *ngIf="ledger$ | async">
            <div class="card spotbie-redeemedItem" *ngFor="let legerRecord of (lpLedgerList$ | async)">
                <div class='card-header'>
                    <span class='sb-text-light-green-gradient'>{{ legerRecord.business.name }}</span>

                    <img *ngIf="legerRecord.business.spotbie_user.user_type == 1" [src]="'assets/images/home_imgs/find-places-to-eat.svg'" />
                    <img *ngIf="legerRecord.business.spotbie_user.user_type === 2" [src]="'assets/images/home_imgs/find-places-for-shopping.svg'" />
                    <img *ngIf="legerRecord.business.spotbie_user.user_type === 3" [src]="'assets/images/home_imgs/find-events.svg'" />
                </div>

                <div class='card-body text-uppercase'>
                    <div class='mb-2'>
                        {{ legerRecord.created_at | date:'mediumDate' }}
                    </div>

                    <div class='mb-2'>
                <span [ngClass]="getLpStyle(legerRecord.loyalty_amount)">
                    {{ legerRecord.loyalty_amount | number:'1.0':'en-US' }}
                </span> Loyalty Points
                    </div>
                </div>

                <div class='card-footer text-uppercase text-center'>
                    ID: {{ legerRecord.uuid }}
                </div>
            </div>
        </div>

        <div *ngIf="(showBalanceList$ | async)">
            <div class="card spotbie-redeemedItem" *ngFor="let balance of (balanceList$ | async)">
                <div class='card-header'>
                    <span class='sb-text-light-green-gradient'>{{ balance.from_business.name }}</span>

                    <img *ngIf="balance.from_business.spotbie_user.user_type == 1" [src]="'assets/images/home_imgs/find-places-to-eat.svg'" />
                    <img *ngIf="balance.from_business.spotbie_user.user_type === 2" [src]="'assets/images/home_imgs/find-places-for-shopping.svg'" />
                    <img *ngIf="balance.from_business.spotbie_user.user_type === 3" [src]="'assets/images/home_imgs/find-events.svg'" />
                </div>

                <div class='card-body text-uppercase'>
                    <div class='mb-2'>
                        <img class="sb-rewardImage" [src]="balance.from_business.photo" />
                    </div>

                    <div class='mb-2'>
                  <span [ngClass]="getLpStyle(balance.balance)">
                      {{ balance.balance | number:'1.0':'en-US' }}
                  </span> Loyalty Points
                    </div>

                    <div class='mb-2'>
                        UPDATED AT {{ balance.updated_at | date:'mediumDate' }}
                    </div>
                </div>
            </div>
        </div>

        <div class='spotbie-text-gradient mt-3 cursor-pointer' *ngIf="showLoadMore()" (click)="loadMoreItems()">
            LOAD MORE
        </div>

        <div class='spotbie-no-notis-box' *ngIf="((rewardList$ | async).length === 0 && rewards$ | async) ||
                                                  ((lpRedeemedList$ | async).length === 0 && lpRedeemed$ | async) ||
                                                  ((lpLedgerList$ | async).length === 0 && ledger$ | async) ||
                                                  ((balanceList$ | async).length === 0 && showBalanceList$ | async)">
            <i class="fas fa-exclamation-triangle"></i>
            <br/><br/>
            <p class="spotbie-text-gradient">
                <span *ngIf="(balanceList$ | async).length === 0 && showBalanceList$ | async">You have not redeemed any points.</span>
                <span *ngIf="(rewardList$ | async).length === 0 && rewards$ | async">You have no redeemed rewards.</span>
                <span *ngIf="(lpRedeemedList$ | async).length === 0 && lpRedeemed$ | async">You have no redeemed points.</span>
                <span *ngIf="(lpLedgerList$ | async).length === 0 && ledger$ | async">You have no transaction history.</span>
            </p>
            <br/><br/>
            <div class='spotbie-text-gradient mt-3 cursor-pointer' (click)="closeWindow()">
                CLOSE
            </div>
        </div>
    </div>
</div>
