.spotbie-textarea {
  background-color: white;
  color: black;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.sb-input {
  min-width: 100%;
}

.whosGoingWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;

  div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

ion-list {
  background-color: #222428 !important;
  background: #222428 !important;
  --background: #222428 !important;
}

ion-item {
  background-color: #222428 !important;
  background: #222428 !important;
  --background: #222428 !important;
}
