.spotbie-textarea {
  background-color: white;
  color: black;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.sb-input {
  min-width: 100%;
}

.whosGoingWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;

  div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

#get-my-friends {
  --background: #53bf61;
  --color: white;
}

.importContactsWrapper {
  display: flex;
  justify-content: center;

  ion-icon {
    --color: white !important;
    color: white !important;
  }

  ion-button {
    --background: #53bf61;
    --color: white !important;
  }
}

ion-list {
  background-color: #222428 !important;
  background: #222428 !important;
  --background: #222428 !important;
}

ion-item {
  background-color: #222428 !important;
  background: #222428 !important;
  --background: #222428 !important;
}

/* Note: These styles should be located in your global stylesheet */
ion-action-sheet.spotbie-ac {
  --background: #f58840;
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}
