<ion-content>
  <app-menu-logged-out class="spotbie-app-menu"
                       (myFavoritesEvt)="myFavorites()"
                       (spawnCategoriesOut)="spawnCategories($event)"
                       (openHome)="openHome()">
  </app-menu-logged-out>

  <app-welcome *ngIf="getStartedPrompt" (getStartedEvt)="getStarted()"></app-welcome>

  <app-test-mode></app-test-mode>

  <div class="spotbie-main-holder" id="spotbieMainHolder">
    <app-map #appMap></app-map>

    <div class="spotbie-menu-page-padding-top-not-logged"></div>
  </div>
</ion-content>
